
.wd-dashboard .list-group-item {
    color: black;
    background-color: white;
    border-style: solid;
}

.wd-dashboard {
    margin: 15px;
}


.wd-dashboard .content{
    margin: 15px;
}

.card-img-top {
    background-color: lightblue;
    height:200px;
}

.card {
    width: 300px;
}
.card .wd-title {
    color: rgb(67, 177, 221);
  }

  
  .card b {
    color: grey;
    font-size: 15px;
}
.card p {
    color: grey;
    font-size: 12px;
}
 
.newCourse {
    color: black;
    background-color: white;
    border: 1px solid #ccc; /* Add the border style here */
    border-radius: 10px; /* Add border radius if desired */
    padding: 20px; /* Add padding if desired */
}
